.registration_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 100px;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  backdrop-filter: blur(10px);
  background: rgba(216, 180, 158, 0.05);
  background-color: rgba(255, 255, 255, 0.05);
  flex-wrap: wrap;
}

.header_logo {
  position: absolute;
  top: 20px;
  right: 60px;
  height: 80px;
}

.header_logo_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tuxy_container {
  display: none;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.side_tux {
  display: inline;
  width: 450px;
  transition: transform 0.3s ease;
  transform: scale(1);
  margin-left: 50px;
  /* Adjust the color stops and transparency as desired */
}

.side_tux:hover {
  transform: scale(1.1);
}

.top_tux {
  display: none;
  width: 65vw;
  transition: transform 0.3s ease;
  transform: scale(1);
  margin-bottom: 50px;
}

.top_tux:hover {
  transform: scale(1.1);
}

h1 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  margin: 20px 0px;
  font-size: 3.5rem;
  color: var(--color-primary);
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

h1 :hover {
  display: none;
  /* transform: scale(1.2) 1s ease; */
}

form {
  width: 75%;
  color: white;
  /* padding: 30px; */
}

.form_container {
  width: 50vw;
  position: relative;
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.inputLabels {
  font-weight: 600;
  font-size: 1rem;
  text-shadow: 1px 1px 5px #3b3b3b;
  color: var(--color-primary);
}

select.mySelectArrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 10px 20px;
  font-size: 22px;
  cursor: pointer;
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--color-primary) 50%,
      var(--color-background) 100%
    ),
    linear-gradient(
      135deg,
      var(--color-background) 0%,
      var(--color-primary) 50%,
      transparent 50%
    );
  background-position: calc(100% - 20px) center, calc(100% - 10px) center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
}

::placeholder {
  color: var(--color-text);
  opacity: 0.4;
  /* Firefox */
}

input,
select {
  color: var(--color-text);
  width: 94%;
  margin: 8px 0 12px 0;
  display: block;
  border-radius: 10px;
  font-size: 1rem !important;
  height: 2rem !important;
  padding: 0.5rem 0 0.5rem 0;
  /* background-color: #ecf0f3; */
  background-color: var(--color-secondary);
  border: 0.1px solid rgba(216, 180, 158, 0.2);
  outline: none;
}

input:focus {
  border: 2px solid #555;
}

input[type="file"] {
  background-color: transparent;
  color: white;
  font-size: 17px;
  color: #b8b8b8;
  width: 100%;
}

input::file-selector-button {
  color: var(--color-text);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: -4px;
  margin-left: 4px;
}

input[type="file"]::file-selector-button:hover {
  background-color: var(--color-primary);
  color: black;
  cursor: pointer;
}

input:-webkit-autofill::first-line {
  font-size: 1rem !important;
  color: #000000 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #000000;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 50px 50px #ecf0f3;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  padding-left: 3%;
  padding-right: 3%;
  caret-color: var(--color-primary);
}

.infinityLoop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-primary);
  height: 3rem !important;
  border-radius: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: var(--color-background);
}

.button_slide {
  width: 100%;
  height: 3rem !important;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 40px;
  /* padding: 10px; */
  display: inline-block;
  font-weight: 400;
  font-size: 1.2rem !important;
  letter-spacing: 1.5px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--color-primary);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--color-background);
}

.slide_right:hover {
  box-shadow: inset 1000px 0 0 0 var(--color-primary);
  color: var(--color-background);
}

select {
  height: 3rem !important;
  padding: 0.5rem 0.8rem !important;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .registration_container {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .header_logo {
    position: static;
    margin-top: 20px;
  }

  .side_tux {
    display: none;
  }

  .tuxy_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .top_tux {
    margin-top: 50px;
    display: block;
  }

  .form_container {
    width: 100%;
    margin: 0px;
  }

  form {
    width: 100%;
    margin: 5px;
  }

  .inputLabels {
    font-size: 1rem;
  }
}

input:invalid + span {
  color: red;
  font-weight: bold;
}
